doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Dancing+Script")
  body
    block content
    script(src='javascripts/preloader.js')
    script(src='/javascripts/selector.js')
